@import "variables";

#contactForm {
  width: 100%;
  height: 100vh;

  @media(max-width: 900px) {
    height: 1000px;
  }
}

.hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, $accent, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, $accent, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, $accent, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, $accent, #f0f0f0);
}

#headerContacts {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;

  #headerButtons {
    display: flex;
    margin-right: 30px;

    i {
      color: $main-color;
      font-size: 24px;
      margin: 0 5px;
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      border: 1px solid $accent;
      padding: 15px;
      border-radius: 5px;
      width: 20px;
      height: 20px;
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        color: $accent;
        background-color: $main-color;
      }
    }
  }

  @media (max-width: 1100px) {
    justify-content: space-between;
  }

  & > img {

    &:first-of-type {
      width: 60px;
      height: auto;
      margin-left: 30px;
    }

    &:last-of-type {
      position: absolute;
      width: 90px;
      height: auto;
      top: 50px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 800px;

  h3 {
    font-size: 54px;
    font-weight: 400;
    margin-bottom: 75px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    max-width: 500px;
    padding: 0 25px;

    textarea {
      width: 99%;
      padding: 15px 10px;
    }

    textarea, input {
      border-radius: 5px;
      box-shadow: none;
      border: 1px solid $accent;
      font-size: 24px;
      font-weight: 300;
    }

    p {
      margin: 10px 0;
    }

    button {
      align-self: center;
      margin-top: 35px;
      background-color: transparent;
      border: 2px solid $main-color;
      border-radius: 20px;
      color: $main-color;
      padding: 15px 0;
      font-weight: 500;
      width: 150px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        color: white;
        background-color: $main-color;
      }
    }

    #messageHint {
      color: gray;
    }

    #inputs {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 15px;
      color: gray;

      & > div {
        width: 48%;
        display: flex;
        flex-direction: column;

        input {
          height: 35px;
          padding-left: 5px;
        }
      }
    }

    @media(max-width: 900px) {
      #inputs {
        width: 100%;
        flex-direction: column;

        &>div {
          width: 100%;
        }

        input {
          width: 100%;
        }


      }
      textarea {
        width: 97.5%;
      }
    }

  }

  @media(max-width: 1000px) {
    h3 {
      margin-top: 100px;
      font-size: 36px;
    }
  }

}