@import 'variables';

#top {
  padding: 24px;
  display: flex;
  flex-direction: column;

  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 144px;

    img {
      width: 72px;
      height: 100%;
    }

    button {
      background-color: transparent;
      border: 2px solid $main-color;
      color: $main-color;
      font-weight: 500;
      border-radius: 16px;
      padding: 0 16px;
      height: 48px;
      cursor: pointer;

      &:hover {
        background-color: $main-color;
        color: white;
      }
    }

    @media (max-width: 850px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        margin-bottom: 24px;
      }

      button {
        width: 150px;
      }
    }
  }

  #headerInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 128px;

    h2 {
      margin: 100px 0 16px 0;
      font-weight: 600;
      font-size: 72px;
    }

    h3 {
      margin: 0;
      font-weight: 500;
      font-size: 52px;
    }

    @media (max-width: 850px) {
      h2 {
        font-size: 50px;
      }

      h3 {
        font-size: 34px;
      }
    }
  }

  #headerSvg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    img {
      width: 800px;
    }
  }
}

#info {
  color: white;
  background-color: $main-color;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;

  #managerSvg {
    margin-top: 48px;
    width: 180px;
    height: auto;
  }

  h3 {
    font-size: 36px;
  }

  p {
    max-width: 1000px;
    font-size: 24px;
    font-weight: 300;
  }

  @media (max-width: 1000px) {
    h3, p {
      margin: 10px 36px;
    }
  }

  #skills {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 18px;

    h3 {
      margin-top: 72px;
      margin-bottom: 72px;
    }

    #technologies {
      display: flex;
      justify-content: space-around;
      font-size: 24px;

      p {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        padding-top: 90px;
        margin: 0;
      }

      div {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 350px;
        font-weight: 600;

        ul {
          list-style: none;
          padding: 0;
        }

        li {
          margin: 30px 0;
        }
      }

      img {
        width: 96px;
        height: auto;
      }
    }
  }
}

#portfolio {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
  margin-bottom: 300px;
  margin-top: 150px;

  h3 {
    font-size: 50px;
    margin: 64px 0 0 0;
  }

  p {
    font-size: 18px;
    font-weight: 300;
  }

  #projects {
    margin-top: 84px;
    display: grid;
    width: 100%;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 300px;
    grid-auto-flow: dense;

    div {
      margin: 0 24px;
      border: 2px solid black;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @media(max-width: 1200px) {
      grid-gap: 10px;
      grid-auto-rows: 200px;
      div {
        margin: 0 10px;
      }
    }

    @media (max-width: 700px) {
      grid-gap: 0;
      div {
        margin: 10px 50px;
      }
    }
  }


}

#footer {
  background-color: $main-color;
  color: white;
  display: flex;
  justify-content: space-around;
  text-align: center;

  #contacts {

    p {
      font-weight: 500;
    }

    li :hover {
      background-color: white;
      color: $main-color;
    }

    i {
      color: white;
      border: 2px solid white;
      border-radius: 50%;
      padding: 20px;
      margin: 0 10px;
      cursor: pointer;
    }
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
  }

  #credits {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: 1000px) {
      max-width: 400px;
    }

    h4 {
      font-size: 18px;
      margin: 0 0 10px 0;

    }

    p {
      margin: 0;
    }

    a {
      color: white;
    }
  }
}

