@import 'variables';

#top {
  padding: 24px;
  display: flex;
  flex-direction: column;
  text-align: center;

  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 144px;


    img {
      width: 72px;
      height: 100%;
    }

    button {
      background-color: transparent;
      border: 2px solid $main-color;
      color: $main-color;
      font-weight: 500;
      border-radius: 16px;
      padding: 0 16px;
      height: 48px;
      cursor: pointer;

      &:hover {
        background-color: $main-color;
        color: white;
      }
    }

    @media (max-width: 850px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        margin-bottom: 24px;
      }

      button {
        width: 150px;
      }
    }
  }

  #headerInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 128px;

    h2 {
      margin: 100px 0 16px 0;
      font-weight: 600;
      font-size: 72px;
    }

    h3 {
      margin: 0;
      font-weight: 500;
      font-size: 52px;
    }

    @media (max-width: 850px) {
      h2 {
        font-size: 50px;
      }

      h3 {
        font-size: 34px;
      }
    }
  }

  #headerSvg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    img {
      width: 800px;
    }
  }
}

#info {
  color: white;
  background-color: $main-color;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;

  #managerSvg {
    margin-top: 48px;
    width: 180px;
    height: auto;
  }

  h3 {
    font-size: 36px;
  }

  p {
    max-width: 1000px;
    font-size: 24px;
    font-weight: 300;
  }

  @media (max-width: 1000px) {
    h3, p {
      margin: 10px 36px;
    }
  }

  #skills {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 18px;

    h3 {
      margin-top: 72px;
      margin-bottom: 72px;
    }

    #technologies {
      display: flex;
      justify-content: space-around;
      font-size: 24px;

      p {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        padding-top: 90px;
        margin: 0;
      }

      div {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 350px;
        font-weight: 600;

        ul {
          list-style: none;
          padding: 0;
        }

        li {
          margin: 30px 0;
        }
      }

      img {
        width: 96px;
        height: auto;
      }
    }
  }
}

#portfolio {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
  margin-bottom: 300px;
  margin-top: 150px;

  h3 {
    font-size: 50px;
    margin: 64px 0 0 0;
  }

  p {
    font-size: 18px;
    font-weight: 300;
  }

  #projects {
    margin-top: 84px;
    display: grid;
    width: 80%;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: 500px;
    grid-auto-flow: dense;

    div {
      margin: 0 24px;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #project1 {
      position: relative;
      background: linear-gradient(
                      rgba(0, 0, 0, 0.5),
                      rgba(0, 0, 0, 0.5)), url("../img/project1.jpg") no-repeat center;
      background-size: cover;
      transition: all 0.5s;
      color: white;


      .projectPreview {
        position: absolute;
        margin-left: 0;
        width: 100%;
        height: 100%;
        transition: all .5s;

        img {
          width: 80%;
          height: auto;
        }
      }

      .projectHover {
        background-color: #293347;
        width: 100%;
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        button {
          border: 2px solid $main-color;
          color: white;
          background-color: transparent;
          padding: 15px 30px;
          border-radius: 50px;
          font-weight: 500;
          font-size: 20px;
          transition: all 0.3s;

          &:hover {
            background-color: #8C43FF;
          }
        }

        p {
          width: 90%;
          font-weight: 400;
          font-size: 32px;
        }

        transition: all 0.5s;
        opacity: 0;
        z-index: 1;
      }

      &:hover {
        .projectPreview {
          transform: scale(1.1);
          opacity: 0;
        }

        .projectHover {
          opacity: 1;
        }
      }
    }

    @media(max-width: 1200px) {
      grid-gap: 10px;
      grid-auto-rows: 400px;

      div {
        margin: 0 10px;
      }
    }

    @media (max-width: 700px) {
      display: flex;
      flex-direction: column;
      width: 95%;
      align-items: center;
      justify-content: center;

      div {
        min-height: 300px;
      }
    }
  }
}

#footer {
  background-color: $main-color;
  color: white;
  display: flex;
  justify-content: space-around;
  text-align: center;

  #contacts {
    p {
      font-weight: 500;
    }

    li :hover {
      background-color: white;
      color: $main-color;
    }

    i {
      color: white;
      border: 2px solid white;
      border-radius: 50%;
      padding: 15px;
      margin: 0 10px;
      cursor: pointer;
      font-size: 24px;
    }
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
  }

  #credits {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: 1000px) {
      max-width: 400px;
    }

    h4 {
      font-size: 18px;
      margin: 0 0 10px 0;

    }

    p {
      margin: 0;
    }

    a {
      color: white;
    }
  }
}

