@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body, html {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
}

button, i {
  transition: 0.3s;
}

body::-webkit-scrollbar {
  width: 0.75em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}